<div class="chatArea">
    <div class="chat-window ">
            <div class="panel panel-default nol">
                <div class="panel-heading top-bar nol">
                    <div>
                        <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span> Chat</h3>
                    </div>
                </div>
                <div class="panel-body msg_container_base">
                    <div class="loader" ng-show="!showChat"></div>

                    <div class="row msg_container"
                         ng-repeat="c in chat"
                         ng-class="c.type == 1 ? 'base_sent' : 'base_receive'"
                         ng-if="showChat">
                         <div class="col-md-2 col-xs-2 avatar" ng-if="c.type == 2">
                            <img src="images/ava2.jpg" class=" img-responsive ">
                        </div>
                        <div class="col-md-10 col-xs-10">
                            <div class="messages msg_sent">
                                <p>{{ c.text }}</p>
                                <div class="author">{{ c.author }}</div>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-2 avatar" ng-if="c.type == 1">
                            <img src="images/ava1.jpg" class=" img-responsive ">
                        </div>
                    </div>
                    
                </div>
                <div class="panel-footer">
                    <div class="row">
                        
                        <form name="chatForm" ng-submit="submitChatMessage()" novalidate>
                        
                            <div class="col-xs-4 nopad-r">
                                <div class="input-group">
                                    <input id="btn-input" type="text" class="form-control input-sm chat_input"
                                           placeholder="Ваше имя"
                                           ng-disabled="!showChat"
                                           ng-model="userChatMessage.author" required />
                                </div>
                            </div>

                            <div class="col-xs-8">
                                <div class="input-group">
                                    <input id="btn-input" type="text" class="form-control input-sm chat_input"
                                           placeholder="Ваше сообщение..."
                                           ng-disabled="!showChat"
                                           ng-model="userChatMessage.text" required />
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary btn-sm" id="btn-chat"
                                                ng-disabled="!showChat; chatForm.$invalid">Отправить</button>
                                    </span>
                                </div>
                            </div>
                        </form>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
    </div>

</div>
