<div class="messageArea">
    <div class="panel panel-default nor">
        <div class="panel-body">

            <div class="table-container msg_container_base">
                <table class="table table-filter">
                    <tbody>
                        <tr ng-repeat="mes in messages" ui-sref="app.chat({id: mes.id})"
                            ng-class="chosenMessage == mes.id ? 'selected' : 'notSelected'">

                            <td>
                                <div class="media">
                                    <a href="#" class="pull-left">
                                        <img src="images/ava1.jpg" class="media-photo">
                                    </a>
                                    <div class="media-body">
                                        <span class="media-meta pull-right">{{mes.created}}</span>
                                        <h4 class="title">
                                            {{mes.subject}}
                                        </h4>
                                    </div>
                                </div>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>